<div class="app">

  <header class="header">
  </header>

  <main class="content">

    <mat-card class="inner-content">

      <h1 class="noselect">Binary to Decimal Converter</h1>

      <mat-form-field appearance="outline">

        <mat-label>Binary number input</mat-label>
        <input (keyup)="calculate($event)" matInput placeholder="Type here the binary number" (input)="validate()"
          [formControl]='binaryNumberInput'>
        <mat-error>An invalid value was entered. Please, only 0 or 1 are allowed.</mat-error>
      </mat-form-field>

      <div *ngIf="result" class="app-result-box">
        <h2 matTooltip="{{tooltipMessage}}" class="result noselect">Decimal result: <span (click)="copy()"
            class="result-value">{{result}}</span></h2>
      </div>
    </mat-card>

  </main>

  <footer class="footer">

  </footer>

</div>
