<div class="app">

  <header class="header">
  </header>

  <main class="content">

    <mat-card class="inner-content">

      <h2>Binary to Decimal Converter</h2>

      <mat-form-field appearance="outline">

        <mat-label>Binary number input</mat-label>
        <input (keyup)="calculate($event)" matInput placeholder="Type here the binary number" (input)="validate()" [formControl]='binaryNumberInput'>
        <mat-error>An invalid value was entered. Please, only 0 or 1 are allowed.</mat-error>
      </mat-form-field>

      <div class="app-result-box">
        <h2>Decimal result: {{result}}</h2>
      </div>

    </mat-card>

  </main>

  <footer class="footer">
    <h2>like and share</h2>
  </footer>

</div>
